<app-shared-page-header
  [header]="header$|async"
  (clickButton)="onClickButton($event)"
  (clickMenuItem)="onClickMenuItem($event)"
></app-shared-page-header>

<div class="rf__tab-bar rf__tab-bar--page">

  <mat-tab-group>

    <mat-tab *ngIf="tabUids.indexOf(PAGE_TAB_SALE_YEARLY) > -1">

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_SALE_YEARLY] > 0"
          matTooltipPosition="above"
          matTooltip="{{ (tabErrorCount[PAGE_TAB_SALE_YEARLY] > 0 ?
            'tooltip_tab_error' : '')|translate: { count: tabErrorCount[PAGE_TAB_SALE_YEARLY] } }}"
        >
          <span>{{ 'label_sale_yearly'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_SALE_YEARLY] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-production-form-type
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          [type]="TYPE_SALE_PER_YEAR"
          [runtimeSettings]="runtimeSettings$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-production-form-type>

      </div>

    </mat-tab>

    <mat-tab *ngIf="tabUids.indexOf(PAGE_TAB_SALE_MONTHLY) > -1">

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_SALE_MONTHLY] > 0"
          matTooltipPosition="above"
          matTooltip="{{ (tabErrorCount[PAGE_TAB_SALE_MONTHLY] > 0 ?
            'tooltip_tab_error' : '')|translate: { count: tabErrorCount[PAGE_TAB_SALE_MONTHLY] } }}"
        >
          <span>{{ 'label_sale_monthly'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_SALE_MONTHLY] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-production-form-type
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          [runtimeSettings]="runtimeSettings$|async"
          [type]="TYPE_SALE_PER_MONTH"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-production-form-type>

      </div>

    </mat-tab>

    <mat-tab *ngIf="tabUids.indexOf(PAGE_TAB_RENTAL_YEARLY) > -1">

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_RENTAL_YEARLY] > 0"
          matTooltipPosition="above"
          matTooltip="{{ (tabErrorCount[PAGE_TAB_RENTAL_YEARLY] > 0 ?
            'tooltip_tab_error' : '')|translate: { count: tabErrorCount[PAGE_TAB_RENTAL_YEARLY] } }}"
        >
          <span>{{ 'label_rental_yearly'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_RENTAL_YEARLY] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-production-form-type
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          [type]="TYPE_RENTAL_PER_YEAR"
          [runtimeSettings]="runtimeSettings$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-production-form-type>

      </div>

    </mat-tab>

    <mat-tab *ngIf="tabUids.indexOf(PAGE_TAB_RENTAL_MONTHLY) > -1">

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_RENTAL_MONTHLY] > 0"
          matTooltipPosition="above"
          matTooltip="{{ (tabErrorCount[PAGE_TAB_RENTAL_MONTHLY] > 0 ?
            'tooltip_tab_error' : '')|translate: { count: tabErrorCount[PAGE_TAB_RENTAL_MONTHLY] } }}"
        >
          <span>{{ 'label_rental_monthly'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_RENTAL_MONTHLY] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-production-form-type
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          [type]="TYPE_RENTAL_PER_MONTH"
          [runtimeSettings]="runtimeSettings$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-production-form-type>

      </div>

    </mat-tab>

  </mat-tab-group>

</div>
