@import "../../../styles/variables";

.rf__gallery-modal {
  background: $color-04;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: $color-01;
}

.rf__gallery-modal-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: $color-02;
  padding: 0 10px;
  box-shadow: 0 0 5px $color-23;
  z-index: 3;
}

.rf__gallery-modal-header-counter {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
}

.rf__gallery-modal-header-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.rf__gallery-modal-header-button {
  padding: 5px;
  color: $color-30;
  background: $color-14;
  transition: color 250ms ease-out;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.rf__gallery-modal-header-icon-crop {
  font-size: 20px;
  line-height: 24px;
}

.rf__gallery-modal-header-icon-close {
  width: 24px;
}

.rf__gallery-modal-header-button:hover {
  color: $color-27;
}

.rf__gallery-modal-header-button--active {
  color: $color-19;
}

.rf__gallery-modal-body {
  flex: 1;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: $color-04;
}

.rf__gallery-modal-body-image {
  width: 100%;
  height: 100%;
  transition: opacity 250ms ease-out;
  transition-delay: 500ms;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.rf__gallery-modal-body-image--active {
  transition-duration: 500ms;
  transition-delay: 0ms;
  opacity: 1;
  z-index: 1;
}

.rf__gallery-modal-body-image--crop {
  background-size: cover;
}

.rf__gallery-modal-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
  max-height: 200px;
  padding: 4px 0;
}

.rf__gallery-modal-footer-image {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 250px;
  margin: 0 2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rf__gallery-modal-footer-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-23;
  z-index: 1;
  transition: background 250ms ease-out;
}

.rf__gallery-modal-footer-image:hover:before {
  background: $color-14;
}

.rf__gallery-modal-footer-image--active:before {
  background: $color-13;
}

.rf__gallery-nav {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.rf__gallery-nav--previous {
  justify-content: flex-start;
  left: 0;
}

.rf__gallery-nav--next {
  justify-content: flex-end;
  right: 0;
}

.rf__gallery-nav {
  padding: 30px;
  color: $color-01;
}

.rf__gallery-nav:hover {
  color: $color-27;
}

.rf__gallery-nav-icon {
  color: inherit;
  font-size: 30px;
  transition: color 250ms ease-out;
  font-weight: bold;
}

.rf__spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
}
