@import "../../../styles/variables";

app-suggestion-table-row {
  padding: 5px 0;
  height: 80px;
}

@media (min-width: $searchlist-breakpoint) {

  app-suggestion-table-row {
    padding: 0;
    height: 60px;
  }
}
