@import "../../../styles/variables";

.rf__sidenav-card {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;
}

.rf__sidenav-card--contact {
  padding: 0;
}
