@import "../../../styles/variables";

.rf__panel-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rf__form-field.rf__form-field--checkbox,
.mat-form-field {
  width: 100%;
}
