<app-shared-page-header
  [header]="header$|async"
  (clickButton)="onClickButton($event)"
  (clickMenuItem)="onClickMenuItem($event)"
></app-shared-page-header>

<div class="rf__page-body">

  <app-agenda-form-required
    [model]="model$|async"
    [options]="options$|async"
    [isLoading]="isLoading$|async"
    [permissions]="runtimePermissions$|async"
    [feature]="runtimeFeature$|async"
    (changeForm)="onChangeForm($event)"
    (pristineForm)="onPristineForm($event)"
  ></app-agenda-form-required>

</div>
