<div class="rf__table-cell rf__restriction-cell--icon"></div>

<div class="rf__table-cell rf__restriction-cell--name">
  <div mat-sort-header="name">{{ 'label_restriction_name'|translate }}</div>
</div>

<div class="rf__table-cell rf__restriction-cell--module">
  <div mat-sort-header="module">{{ 'label_module'|translate }}</div>
</div>

<div class="rf__table-cell rf__spacer"></div>

<div class="rf__table-cell rf__restriction-cell--date">
  <div mat-sort-header="create">{{ 'label_creation_date'|translate }}</div>
  <div mat-sort-header="update">{{ 'label_update_date'|translate }}</div>
</div>
