<div
  class="rf__upload rf__upload--{{ strategy.layoutType }}"
  [class.is-active-dragover]="isActiveDragover"
  [class.is-progressing]="progressingUploads && progressingUploads.length > 0"
  [class.rf__upload--disabled]="isDisabled === true"
  (click)="onClickContainer()"
  (dragenter)="onDragEnter($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>

  <input
    #fileInput
    type="file"
    [multiple]="strategy.isAllowedMultiple"
    [accept]="strategy.fileTypes"
    class="rf__upload-file-input"
    (change)="onFilesChanged($event)"
  >

  <mat-icon class="rf__upload-icon">cloud_upload</mat-icon>

  <mat-progress-spinner
    *ngIf="strategy.layoutType === layoutTypeImage && progressingUploads && progressingUploads[0]"
    class="rf__upload-progress-spinner"
    [value]="progressingUploads[0].progressPercentage"
    diameter="70"
    strokeWidth="3"
    mode="determinate"
  ></mat-progress-spinner>

  <div class="rf__upload-description rf__upload-description--main">{{ 'label_upload_drag_drop_file'|translate }}</div>
  <div class="rf__upload-description">{{ 'label_or'|translate }}</div>

  <button
    mat-raised-button
    class="rf__button rf__upload-button-select"
    (click)="onClickButtonSelectFiles()"
  >{{ 'label_select_files'|translate }}</button>

  <div class="rf__upload-custom-description">{{ strategy.description|translate }}</div>

</div>
