@import "../../../styles/variables";

.container-color {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin : auto 0;
}

.block-color {
  border: 1px solid $color-30;
  width: 18px;
  height: 17px;
  display: inline-block;
  margin: 1px 5px 2px 0;
}

.placeholder-text {
  font-style: italic;
  color: $color-29;
}

.rf__keyvalue-icon--action {
  color: $color-19;
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 20px;
  line-height: 22px;
}

.rf__keyvalue-icon--action:hover {
  color: $color-27;
  cursor: pointer;
}
