<app-shared-page-header
  [header]="header$|async"
  (clickButton)="onClickButton($event)"
  (clickMenuItem)="onClickMenuItem($event)"
></app-shared-page-header>

<div class="rf__tab-bar rf__tab-bar--page">

  <mat-tab-group>

    <mat-tab *ngIf="tabUids.indexOf(PAGE_TAB_REQUIRED) > -1">

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_REQUIRED] > 0"
        >
          <span>{{ 'label_field_required'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_REQUIRED] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-shared-account-form-required
          [layout]="'account'"
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          [permissions]="runtimePermissions$|async"
          [feature]="runtimeFeature$|async"
          [featureAccount]="runtimeFeatureAccount$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-shared-account-form-required>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>
