<div class="cuppa-dropdown" (clickOutside)="closeDropdown()">
  <div class="selected-list">
    <button class="c-btn" (click)="toggleDropdown()">
      <span *ngIf="selectedItems.length === 0">{{settings.text | translate}}</span>
      <span *ngIf="selectedItems.length > 1">{{settings.multiSelectText | translate}}</span>
      <span class="fa" [ngClass]="{'fa-angle-down': !isActive,'fa-angle-up':isActive}"></span>
      <span *ngIf="selectedItems.length === 1">
                <span>
                    {{selectedItems[0].itemName}}
                </span>
            </span>
    </button>
  </div>
  <div class="dropdown-list" [hidden]="!isActive">
    <div class="arrow-up"></div>
    <div class="list-area">
      <div class="pure-checkbox select-all" *ngIf="settings.enableCheckAll && !settings.singleSelection" (click)="toggleSelectAll()">
        <input type="checkbox" [checked]="isSelectAll"/>
        <label>
          <span [hidden]="isSelectAll">{{settings.selectAllText | translate}}</span>
          <span [hidden]="!isSelectAll">{{settings.unSelectAllText | translate}}</span>
        </label>
      </div>
      <div class="list-filter" *ngIf="settings.enableSearchFilter">
        <span class="fa fa-search"></span>
        <input type="text" placeholder="Search" [(ngModel)]="filter.itemName">
      </div>
      <ul [style.maxHeight]="settings.maxHeight+'px'">
        <li *ngFor="let item of data | listItem:filter; let i = index;" (click)="onItemClick(item,i)" class="pure-checkbox">
          <input type="checkbox" [checked]="isSelected(item)"/>
          <label>{{item.itemName}}</label>
        </li>
      </ul>
    </div>
  </div>
</div>
