<mat-progress-bar
  class="rf__opacity"
  [class.rf__opacity--visible]="isLoading === true"
  mode="indeterminate"
></mat-progress-bar>

<form [formGroup]="formGroup">

  <app-shared-autocomplete
    class="mat-form-field"
    uid="reporting-form-search-property-promotion-location"
    [entities]="AUTOCOMPLETE_ENTITIES_PROPERTY_PROMOTION_LOCATION"
    [placeholder]="'autocomplete_property_promotion_location'|translate"
    (changeSelection)="onChangeSelectionPropertyPromotionLocation($event)"
  ></app-shared-autocomplete>

  <app-shared-autocomplete
    class="mat-form-field"
    uid="reporting-form-search-contact"
    [entities]="AUTOCOMPLETE_ENTITIES_CONTACT"
    [placeholder]="'autocomplete_contact_developer_company'|translate"
    (changeSelection)="onChangeSelectionContact($event)"
  ></app-shared-autocomplete>

  <mat-form-field *ngIf="isLoading === true || options.brokerIds.length > 0">
    <mat-select
      placeholder="{{ 'label_broker_in_charge'|translate }}"
      multiple
      formControlName="brokerIds"
    >
      <mat-option
        *ngFor="let option of options.brokerIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.categoryIds.length > 0">
    <mat-select
      placeholder="{{ 'label_marketing_category'|translate }}"
      multiple
      formControlName="categoryIds"
    >
      <mat-option
        *ngFor="let option of options.categoryIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.propertyStatusIds.length > 0">
    <mat-select
      placeholder="{{ 'label_property_status'|translate }}"
      multiple
      formControlName="propertyStatusIds"
    >
      <mat-option
        *ngFor="let option of options.propertyStatusIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.prices.length > 0">
    <mat-select
      placeholder="{{ 'label_price'|translate }}"
      multiple
      formControlName="prices"
    >
      <mat-option
        *ngFor="let option of options.prices"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="processDateFrom"
      [matDatepicker]="pickerDateFrom"
      autocomplete="off"
      placeholder="{{ 'label_date_from'|translate }}"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerDateFrom"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerDateFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="processDateTo"
      [matDatepicker]="pickerDateTo"
      autocomplete="off"
      placeholder="{{ 'date_to'|translate }}"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerDateTo"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerDateTo></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.processStatusIds.length > 0">
    <mat-select
      placeholder="{{ 'label_process_status'|translate }}"
      multiple
      formControlName="processStatusIds"
    >
      <mat-option
        *ngFor="let option of options.processStatusIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.isDirectTransaction01.length > 0">
    <mat-select
      placeholder="{{ 'label_direct_transaction'|translate }}"
      formControlName="isDirectTransaction01"
    >
      <mat-option
        *ngFor="let option of options.isDirectTransaction01"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.bedrooms.length > 0">
    <mat-select
      placeholder="{{ 'label_rooms'|translate }}"
      multiple
      formControlName="bedrooms"
    >
      <mat-option
        *ngFor="let option of options.bedrooms"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.rooms.length > 0">
    <mat-select
      placeholder="{{ 'label_specific_rooms'|translate }}"
      multiple
      formControlName="rooms"
    >
      <mat-option
        *ngFor="let option of options.rooms"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.livingArea.length > 0">
    <mat-select
      placeholder="{{ 'label_living_area'|translate }}"
      multiple
      formControlName="livingArea"
    >
      <mat-option
        *ngFor="let option of options.livingArea"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.landArea.length > 0">
    <mat-select
      placeholder="{{ 'label_land_size'|translate }}"
      multiple
      formControlName="landArea"
    >
      <mat-option
        *ngFor="let option of options.landArea"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.positionIds.length > 0">
    <mat-select
      placeholder="{{ 'label_position'|translate }}"
      multiple
      formControlName="positionIds"
    >
      <mat-option
        *ngFor="let option of options.positionIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.viewIds.length > 0">
    <mat-select
      placeholder="{{ 'label_view'|translate }}"
      multiple
      formControlName="viewIds"
    >
      <mat-option
        *ngFor="let option of options.viewIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.publicationIds.length > 0">
    <mat-select
      placeholder="{{ 'label_published_on'|translate }}"
      multiple
      formControlName="publicationIds"
    >
      <ng-container *ngFor="let optionGroup of options.publicationIds">

        <ng-container *ngIf="optionGroup.label === ''">
          <mat-option
            *ngFor="let option of optionGroup.options"
            [value]="option.value"
          >
            {{ option.text }}
          </mat-option>
        </ng-container>

        <ng-container *ngIf="optionGroup.label !== ''">
          <mat-optgroup
            label="{{ optionGroup.label }}"
          >
            <mat-option
              *ngFor="let option of optionGroup.options"
              [value]="option.value"
            >
              {{ option.text }}
            </mat-option>
          </mat-optgroup>
        </ng-container>

      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.publicationStatusId.length > 0">
    <mat-select
      placeholder="{{ 'label_publication_status'|translate }}"
      formControlName="publicationStatusId"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.publicationStatusId"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.rankingIds.length > 0">
    <mat-select
      placeholder="{{ 'label_ranking'|translate }}"
      multiple
      formControlName="rankingIds"
    >
      <mat-option
        *ngFor="let option of options.rankingIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.visibilityId.length > 0">
    <mat-select
      placeholder="{{ 'label_visibility'|translate }}"
      formControlName="visibilityId"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.visibilityId"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.isPromotion01.length > 0">
    <mat-select
      placeholder="{{ 'label_select_promotion'|translate }}"
      formControlName="isPromotion01"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.isPromotion01"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.isSellToForeigner01.length > 0">
    <mat-select
      placeholder="{{ 'label_sell_foreigner'|translate }}"
      formControlName="isSellToForeigner01"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.isSellToForeigner01"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Responsive spacers, do not remove -->
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>

  <input type="hidden" formControlName="propertyIds" />
  <input type="hidden" formControlName="promotionIds" />
  <input type="hidden" formControlName="contactId" />
  <input type="hidden" formControlName="reportType" />

</form>
