<div class="rf__table-cell rf__device-cell--device-id">
  {{ 'label_device_id'|translate }}
</div>

<div class="rf__table-cell rf__device-cell--user">
  {{ 'label_user'|translate }}
</div>

<div class="rf__table-cell rf__device-cell--last-login">
  {{ 'label_last_login_date'|translate }}
</div>

<div class="rf__table-cell rf__device-cell--blacklister">
  <div>{{ 'label_blacklister_name'|translate }}</div>
  <div>{{ 'label_blacklist_date'|translate }}</div>
</div>

<div class="rf__table-cell rf__device-cell--reset-date">
  {{ 'label_reset_date_time'|translate }}
</div>

<div class="rf__table-cell rf__table-cell--actions-label">
  {{ 'label_actions'|translate }}
</div>
