<div class="rf__table-cell rf__account-cell--contact"></div>

<div class="rf__table-cell rf__account-cell--login">
  <div mat-sort-header="login">{{ 'label_login'|translate }}</div>
</div>

<div class="rf__table-cell rf__account-cell--agency">
  <div>{{ 'label_type_singular'|translate }}</div>
  <div>{{ 'label_agency'|translate }}</div>
</div>

<div class="rf__table-cell rf__account-cell--dates">
  <div mat-sort-header="connection">{{ 'label_last_connection'|translate }}</div>
  <div mat-sort-header="activity">{{ 'label_last_activity'|translate }}</div>
</div>

<div class="rf__table-cell rf__account-cell--last-ip">
  {{ 'label_ip_address'|translate }}
</div>

<div class="rf__table-cell rf__account-cell--active">
  {{ 'label_status'|translate }}
</div>
