<div class="rf__searchlist rf__searchlist--email">

  <app-shared-selection-bar
    entity="email"
    [selection]="selection$|async"
    [models]="modelsSelectable$|async"
    [total]="total$|async"
    [isLoading]="(models$|async) === null"
    [isActiveAction]="false"
    [isActiveSelectionAll]="false"
    [isActiveSelectionText]="false"
    (clickSelectAction)="onClickSelectAction($event)"
    (clickSelectAll)="onClickSelectAll()"
    (clickSelectNone)="onClickSelectNone()"
  ></app-shared-selection-bar>

  <app-email-table
    [loadingModelIds]="operationIds$|async"
    [isSelectedHeader]="isSelectedPage$|async"
    [sort]="sort$|async"
    [selection]="selection$|async"
    [models]="models$|async"
    [modelsSelectable]="modelsSelectable$|async"
    [modelsSelected]="modelsSelected$|async"
    (changeSort)="onChangeSort($event)"
    (changeSelectionHeader)="onChangeSelectionHeader($event)"
    (changeSelectionModel)="onChangeSelectionModel($event)"
    (contextModel)="onContextModel($event)"
    (clickModel)="onClickModel($event)"
  ></app-email-table>

  <mat-paginator
    [pageIndex]="(pagination$|async).page - 1"
    [length]="total$|async"
    [pageSize]="(pagination$|async).perPage"
    [pageSizeOptions]="(runtimeSettings$|async).perPage"
    showFirstLastButtons="true"
    (page)="onChangePagination($event)"
  ></mat-paginator>

</div>

<app-email-modal-summary
  [isVisible]="(emailSummary$|async).step > 0"
  [summary]="emailSummary$|async"
  (submitModal)="onSubmitModalSummary($event)"
></app-email-modal-summary>
