<div class="rf__table-cell rf__contract-cell--reference">
  <div>{{ 'label_contract_reference_short'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--step">
  <div>{{ 'label_step'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--agency">
  <div>{{ 'label_agency'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__contract-cell--broker">
  <div>{{ 'label_broker_header'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--seller">
  <div>{{ 'label_seller'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--buyer">
  <div>{{ 'label_buyer'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--signed-price">
  <div>{{ 'label_signed_price'|translate }}</div>
</div>

<div class="rf__table-cell rf__contract-cell--property">
  <div>{{ 'entity_property_singular'|translate }}</div>
</div>
