@import "../../../styles/variables";

.rf__modal-body {
  padding: 20px 30px;
  max-width: 500px;
  width: 500px;
  font-size: 14px;
  line-height: 18px;
}

.mat-form-field {
  width: 100%;
}

.description {
  margin: 10px 0 8px;
}

.container-checkbox {
  margin-top: 10px;
}

.disclaimer {
  margin-top: 16px;
}
