<div class="rf__table-cell rf__website-cell--icon"></div>

<div class="rf__table-cell rf__website-cell--url">
  <div>{{ 'label_url_generic'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--spacer"></div>

<div class="rf__table-cell rf__table-cell--center rf__website-cell--yes-no">
  <div>{{ 'label_realforce_website'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__website-cell--yes-no">
  <div>{{ 'label_fisher'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__website-cell--yes-no">
  <div>{{ 'label_activated'|translate }}</div>
</div>
