<div class="rf__searchlist rf__searchlist--website-article">

  <app-shared-selection-bar
    entity="website-article"
    [selection]="selection$|async"
    [models]="modelsSelectable$|async"
    [total]="total$|async"
    [isLoading]="(models$|async) === null"
    [isActiveSelectionText]="false"
    [isActiveSelectionAll]="false"
    [isActiveAction]="false"
    (clickSelectAction)="onClickSelectAction($event)"
    (clickSelectAll)="onClickSelectAll()"
    (clickSelectNone)="onClickSelectNone()"
  ></app-shared-selection-bar>

  <app-website-article-table
    [loadingModelIds]="operationIds$|async"
    [isSelectedHeader]="isSelectedPage$|async"
    [sort]="sort$|async"
    [selection]="selection$|async"
    [models]="models$|async"
    [modelsSelectable]="modelsSelectable$|async"
    [modelsSelected]="modelsSelected$|async"
    (changeSort)="onChangeSort($event)"
    (changeSelectionHeader)="onChangeSelectionHeader($event)"
    (changeSelectionModel)="onChangeSelectionModel($event)"
    (contextModel)="onContextModel($event)"
    (clickModel)="onClickModel($event)"
  ></app-website-article-table>

  <mat-paginator
    [pageIndex]="(pagination$|async).page - 1"
    [length]="total$|async"
    [pageSize]="(pagination$|async).perPage"
    [pageSizeOptions]="(runtimeSettings$|async).perPage"
    showFirstLastButtons="true"
    (page)="onChangePagination($event)"
  ></mat-paginator>

</div>
