<div class="rf__table-cell rf__sector-cell--name">

  <span class="rf__table-txt">
    <div class="rf__info">
      <span class="rf__info-label">{{ sector.name }}</span>
    </div>
  </span>

</div>

<div class="rf__table-cell rf__table-cell--center rf__sector-cell--location-count">
  <span class="rf__table-txt">
    <span class="rf__table-cell-label">{{ 'label_sector_location_count'|translate }}: </span>
    <span>{{ sector.locations.length + sector.polygons.length }}</span>
  </span>
</div>

<div class="rf__table-cell rf__spacer"></div>
