<div class="rf__table-cell rf__custom-attribute-cell--name">
  <div>{{ 'label_title_name'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__custom-attribute-cell--value-count">
  <div>{{ 'label_custom_attribute_value_count'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__custom-attribute-cell--property">
  <div>{{ 'entity_property_singular'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__custom-attribute-cell--promotion">
  <div>{{ 'entity_promotion_singular'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__custom-attribute-cell--contact">
  <div>{{ 'entity_contact_singular'|translate }}</div>
</div>

