<app-shared-page-header
  [header]="header$|async"
  (clickButton)="onClickButton($event)"
  (clickMenuItem)="onClickMenuItem($event)"
></app-shared-page-header>

<div class="rf__tab-bar rf__tab-bar--page">

  <mat-tab-group
    [selectedIndex]="(isActiveValidation$|async) === true ? 1 : 0"
    (selectedTabChange)="onChangeTab($event)"
  >

    <mat-tab
      *ngIf="tabUids.indexOf(PAGE_TAB_GENERAL) > -1"
      [disabled]="(isActiveValidation$|async) === true"
    >

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_GENERAL] > 0"
          matTooltip="{{ ((isActiveValidation$|async) === true ? 'tooltip_finish_contact_validation' :
            (tabErrorCount[PAGE_TAB_GENERAL] > 0 ? 'tooltip_tab_error' : ''))|translate: { count: tabErrorCount[PAGE_TAB_GENERAL] } }}"
          matTooltipPosition="above"
        >
          <span>{{ 'label_lead'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_GENERAL] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-shared-general-error
          [error]="generalError$|async"
        ></app-shared-general-error>

        <app-lead-form-general
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-lead-form-general>

      </div>

    </mat-tab>

    <mat-tab
      *ngIf="(isActiveValidation$|async) === true || (model$|async).isNeedValidation === true && tabUids.indexOf(PAGE_TAB_CONTACT_VALIDATION) > -1"
      [id]="PAGE_TAB_CONTACT_VALIDATION"
    >

      <ng-template matTabLabel>
        <div
          class="rf__tab-label"
          [class.rf__tab-label--has-error]="tabErrorCount[PAGE_TAB_CONTACT_VALIDATION] > 0"
          matTooltipPosition="above"
          matTooltip="{{ (tabErrorCount[PAGE_TAB_CONTACT_VALIDATION] > 0 ?
            'tooltip_tab_error' : '')|translate: { count: tabErrorCount[PAGE_TAB_CONTACT_VALIDATION] } }}"
        >
          <span>{{ 'label_validation_contact'|translate }}</span>
          <span class="rf__badge rf__badge--error">{{ tabErrorCount[PAGE_TAB_CONTACT_VALIDATION] }}</span>
        </div>
      </ng-template>

      <div class="rf__tab-body">

        <app-lead-form-validation
          [isLoading]="isLoading$|async"
          [model]="model$|async"
          [options]="options$|async"
          [error]="modelError$|async"
          (changeForm)="onChangeForm($event)"
          (errorForm)="onErrorForm($event)"
          (pristineForm)="onPristineForm($event)"
        ></app-lead-form-validation>

      </div>

    </mat-tab>

  </mat-tab-group>

</div>
