<div class="rf__table-cell rf__process-cell--start">
  <div mat-sort-header="start">{{ 'label_date'|translate }}</div>
</div>

<div class="rf__table-cell rf__process-cell--type">
  {{ 'process_type'|translate }}
</div>

<div class="rf__table-cell rf__process-cell--agency">
  {{ 'label_agency'|translate }}
</div>

<div class="rf__table-cell rf__process-cell--label">
  {{ 'label_label'|translate }}
</div>

<div class="rf__table-cell rf__table-cell--spacer"></div>

<div class="rf__table-cell rf__process-cell--status">
  {{ 'process_status'|translate }}
</div>
