@import "../variables";

.rf__account-cell--contact {
  width: 55px;
  max-width: 55px;
  padding-left: 20px;
}

.rf__account-cell--login {
  min-width: 200px;
}

@media (min-width: $searchlist-breakpoint) {

  .rf__searchlist .rf__table-cell.rf__account-cell--dates,
  .rf__searchlist .rf__table-cell.rf__account-cell--last-ip {
    display: none;
  }
}

@media (min-width: 1130px) {

  .rf__searchlist .rf__table-cell.rf__account-cell--dates {
    display: table-cell;
  }
}

@media (min-width: 1230px) {

  .rf__searchlist .rf__table-cell.rf__account-cell--last-ip {
    display: table-cell;
  }
}
