@import "../variables";

.rf__color-picker {
  cursor: pointer;
}

.rf__color-picker-button {
  background-color: $color-19;
  border-radius: 2px;
  color: $color-01;
  height: 26px;
  line-height: 10px;
  min-width: 50px;
  margin: 0 5px;
}

.rf__color-picker-button.rf__color-picker-button--ok,
.rf__color-picker-button.rf__color-picker-button--cancel {
  margin: 0 5px;
}

.rf__color-picker-button:hover {
  background-color: $color-27;
}
