@import "../../../../styles/variables";

.rf__upload-status-bar {
  background-color: $color-01;
  box-shadow: 0 4px 11px 0 $color-13;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: -260px;
  max-height: 300px;
  width: 100%;
  z-index: 990;
  overflow: hidden;
  opacity: 0;
  transition: bottom 300ms ease-in, max-height 200ms ease-out,  opacity 300ms ease-out;
}

.rf__upload-status-bar--fold {
  max-height: 40px;
}

.rf__upload-status-bar--appear {
  bottom: 0;
  opacity: 1;
}

.rf__upload-status-bar-header {
  background-color: $color-02;
  color: $color-01;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
}

.rf__upload-status-bar-file-list {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rf__upload-status-bar-header,
.rf__upload-status-bar-file,
.rf__upload-status-bar-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rf__upload-status-bar-cancel-upload {
  display: none;
}

.rf__upload-status-bar-file-title {
  color: $color-02;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 8px;
}

.rf__upload-status-bar-file-subtitle {
  font-size: 12px;
  margin-right: 8px;
  white-space: nowrap;
  text-align: right;
  flex: 1;
}

.rf__upload-status-bar-file-action {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 23px;
  height: 23px;
}

.rf__upload-status-bar-file-spinner {
  position: relative;
  width: 21px;
  height: 21px;
}

.rf__upload-status-bar-file-spinner:before {
  border: 3px solid $color-19;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: inherit;
  height: inherit;
  opacity: 0.2;
  z-index: -1;
}

.rf__upload-status-bar-file-action:hover .rf__upload-status-bar-file-spinner {
  display: none;
}

.rf__upload-status-bar-file-action:hover .rf__upload-status-bar-cancel-upload {
  display: flex;
}

.rf__upload-status-bar-file {
  padding: 15px;
  width: 100%;
}

.rf__upload-status-bar-file:not(:last-child) {
  border-bottom: 1px solid $color-22;
}

.rf__button-icon {
  min-width: 25px;
  width: 25px;
  height: 25px;
  line-height: 28px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rf__upload-status-bar-icon {
  cursor: default;
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.rf__upload-status-bar-icon--complete {
  color: $color-15;
}

.rf__upload-status-bar-icon--fail {
  color: $color-17;
}

.rf__upload-status-bar-cancel-upload {
  background-color: $color-31;
  color: $color-17;
  display: none;
}

.rf__upload-status-bar-toggle {
  line-height: 25px;
}

.rf__upload-status-bar-toggle,
.rf__upload-status-bar-cancel-upload-all {
  margin-left: 10px;
}

.rf__upload-status-bar-toggle:hover,
.rf__upload-status-bar-cancel-upload-all:hover {
  background-color: $color-05;
}

.rf__upload-status-bar-cancel-upload:hover {
  background-color: $color-21;
}

.rf__upload-status-bar-cancel-upload-all .mat-icon,
.rf__upload-status-bar-cancel-upload .mat-icon {
  font-size: 20px;
}

@media (min-width: $layout-breakpoint) {

  .rf__upload-status-bar {
    right: 30px;
    bottom: -260px;
    width: 400px;
  }

  .rf__upload-status-bar--appear {
    bottom: 30px;
  }
}
