<div class="rf__table-cell rf__email-cell--subject">
  <div mat-sort-header="subject">{{ 'label_subject'|translate }}</div>
</div>

<div class="rf__table-cell rf__email-cell--date">
  <div mat-sort-header="sent_date">{{ 'label_date'|translate }}</div>
  <div>{{ 'label_status'|translate }}</div>
</div>

<div class="rf__table-cell rf__email-cell--sender">
  <div mat-sort-header="sender">{{ 'label_sender'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--multiline rf__email-cell--recipient">
  <div>{{ 'label_recipients'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--property">
  <div>{{ 'label_properties'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--promotion">
  <div>{{ 'label_promotion_header'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--attachment">
  <div>{{ 'label_attachments'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--delivered">
  <div>{{ 'label_email_delivered'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--bounced">
  <div>{{ 'label_email_bounced'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--opened">
  <div>{{ 'label_email_opened'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__table-cell--multiline rf__email-cell--downloaded">
  <div>{{ 'label_downloaded'|translate }}</div>
</div>
