<div class="rf__table-cell rf__website-article-cell--title">
  <span>{{ 'title'|translate }}</span>
</div>

<div class="rf__table-cell rf__website-article-cell--url">
  <span>{{ 'label_website_url'|translate }}</span>
</div>

<div class="rf__table-cell rf__website-article-cell--date">
  <span>{{ 'label_creation_date'|translate }}</span>
</div>

<div class="rf__table-cell rf__table-cell--center rf__website-article-cell--publish">
  <span>{{ 'label_published'|translate }}</span>
</div>

<div class="rf__table-cell rf__spacer"></div>
