@import "../../../styles/variables";

.rf__modal-footer {
  justify-content: space-between;
}

.powered-by {
  display: none;
  align-items: center;
  justify-content: flex-start;
  max-width: 50%;
  height: 30px;
  white-space: nowrap;
  padding: 0 5px;
}

.powered-by span {
  color: $color-19;
  font-size: 11px;
  text-transform: lowercase;
}

.powered-by img {
  width: auto;
  height: 16px;
  margin-left: 10px;
}

@media (min-width: 500px) {

  .powered-by {
    display: flex;
  }
}
