@import "../../../styles/variables";

.rf__searchlist-form--advanced .rf__searchlist-form-body {
  height: 125px;
}

@media (min-width: 600px) {

  .rf__searchlist-form--advanced .rf__searchlist-form-body {
    height: 125px;
  }
}

@media (min-width: 1200px) {

  .rf__searchlist-form-toggle {
    display: none;
  }

  .rf__searchlist-form--advanced .rf__searchlist-form-body {
    height: 63px;
  }
}
