<div class="rf__table-cell rf__marketing-expense-cell--invoice-date">
  <div mat-sort-header="invoice_date">{{ 'label_marketing_invoice_date'|translate }}</div>
</div>

<div class="rf__table-cell rf__marketing-expense-cell">
  <div mat-sort-header="title">{{ 'label_marketing_title'|translate }}</div>
</div>

<div class="rf__table-cell rf__marketing-expense-cell-period">
  <div>{{ 'label_manage_publication_period'|translate }}</div>
</div>

<div class="rf__table-cell rf__marketing-expense-cell-amount">
  <div mat-sort-header="amount">{{ 'label_invoice_amount'|translate }}</div>
</div>

<div class="rf__table-cell rf__marketing-expense-cell">
  <div mat-sort-header="category">{{ 'label_marketing_category'|translate }}</div>
</div>

<div class="rf__table-cell">
  <div mat-sort-header="sub_category">{{ 'label_marketing_subcategory'|translate }}</div>
</div>
