<div class="rf__table-cell rf__table-cell--center rf__portal-cell--language">
  <div>
    {{ 'label_language'|translate }}
  </div>
</div>

<div class="rf__table-cell rf__portal-cell--gateway">
  <div mat-sort-header="gateway">{{ 'label_gateway'|translate }}</div>
  <div mat-sort-header="label">{{ 'label'|translate }}</div>
</div>
<div class="rf__table-cell rf__table-cell--center rf__portal-cell--status">
  <div mat-sort-header="is_active_gateway">{{ 'label_status'|translate }}</div>
</div>
<div class="rf__table-cell rf__portal-cell--last-status">
  <div>{{ 'label_last_status'|translate }}</div>
</div>
<div class="rf__table-cell rf__portal-cell--execution-date">
  <div>{{ 'label_start_date'|translate }}</div>
  <div>{{ 'label_end_date'|translate }}</div>
</div>

<div class="rf__table-cell rf__portal-cell--message">
  <div>{{ 'label_message'|translate }}</div>
</div>
