<div class="rf__table-cell rf__table-cell--center rf__suggestion-cell--vote">
  <div mat-sort-header="pertinence">{{ 'label_suggestion_my_opinion'|translate }}</div>
</div>

<div class="rf__table-cell rf__suggestion-cell--title">
  {{ 'title'|translate }}
</div>

<div class="rf__table-cell rf__suggestion-cell--tags">
  {{ 'label_suggestion_tags'|translate }}
</div>

<div class="rf__table-cell rf__suggestion-cell--counts">
  <div mat-sort-header="votes">{{ 'label_suggestion_votes'|translate }}</div>
  <div mat-sort-header="score">{{ 'label_suggestion_score'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__suggestion-cell--popularity">
  <div mat-sort-header="popularity">{{ 'label_suggestion_popularity'|translate }}</div>
</div>

<div class="rf__table-cell rf__suggestion-cell--status">
  {{ 'label_suggestion_status'|translate }}
</div>

<div class="rf__table-cell rf__suggestion-cell--date">
  <div mat-sort-header="create">{{ 'label_creation_date'|translate }}</div>
  <div mat-sort-header="update">{{ 'label_update_date'|translate }}</div>
</div>
