<div
  class="rf__modal"
  [class.rf__modal--is-visible]="isVisible"
  [class.rf__modal--is-active]="isActive"
>
  <div
    class="rf__modal-content"
    [class.rf__modal-content--is-visible]="isVisible"
  >

    <app-shared-modal-header
      labelTitle="title_status_management"
    ></app-shared-modal-header>

    <div class="rf__modal-body">

      <div class="warning">{{ 'warning_modify_lead_status'|translate:{ count: modifyStatus.leadIds.length } }}</div>

      <form [formGroup]="formGroup">

        <mat-form-field>
          <mat-select
            placeholder="{{ 'label_status'|translate }}"
            formControlName="statusId"
          >

            <mat-option value="">{{ 'label_select_status'|translate }}</mat-option>
            <mat-option
              *ngFor="let option of options.status"
              [value]="option.value"
            >
              {{ option.text }}
            </mat-option>

          </mat-select>
        </mat-form-field>

        <input type="hidden" formControlName="leadIds" />

      </form>

    </div>

    <app-shared-modal-footer
      labelValid="label_change"
      [isDisabledValid]="!formGroup.valid"
      (clickButton)="onClickButton($event)"
    ></app-shared-modal-footer>

  </div>
</div>

