@import "../../../styles/variables";

.rf__searchlist--device .rf__table.device-all .rf__device-blacklister {
  display: none;
}

.rf__searchlist--device .rf__table.device-all .rf__device-reset-date {
  display: none;
}

.rf__searchlist--device .rf__table.device-blackist .rf__device-actions {
  display: none;
}
