<ng-container
  [formGroup]="formGroup"
>

  <mat-form-field>
    <input
      matInput
      formControlName="{{ formControlName }}"
      [matDatepicker]="pickerDate"
      autocomplete="off"
      placeholder="{{ placeholder|translate }}"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerDate"
    ></mat-datepicker-toggle>
    <mat-datepicker
      #pickerDate
      startView="multi-year"
      (yearSelected)="onPickYear($event, pickerDate)"
    ></mat-datepicker>
    <mat-error>{{ error|translate }}</mat-error>
  </mat-form-field>

</ng-container>
