<mat-progress-bar
  class="rf__opacity"
  [class.rf__opacity--visible]="isLoading === true"
  mode="indeterminate"
></mat-progress-bar>

<form [formGroup]="formGroup">

  <mat-form-field *ngIf="isLoading === true || options.typeId.length > 0">
    <mat-select
      placeholder="{{ 'label_all_task_types'|translate }}"
      formControlName="type"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.typeId"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="dateFrom"
      [matDatepicker]="pickerDateFrom"
      autocomplete="off"
      placeholder="{{ 'label_date_from_format'|translate }}"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerDateFrom"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerDateFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="dateTo"
      [matDatepicker]="pickerDateTo"
      autocomplete="off"
      placeholder="{{ 'label_date_to_format'|translate }}"
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerDateTo"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerDateTo></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.brokerIds.length > 0">
    <mat-select
      multiple
      placeholder="{{ 'label_brokers'|translate }}"
      formControlName="brokerIds"
    >
      <mat-option
        *ngFor="let option of options.brokerIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-shared-autocomplete
    class="mat-form-field"
    uid="task-form-search-task-addressee"
    [entities]="AUTOCOMPLETE_ENTITIES_CONTACT"
    [placeholder]="'label_clients'|translate"
    (changeSelection)="onChangeSelectionTaskAddressee($event)"
  ></app-shared-autocomplete>

  <app-shared-autocomplete
    class="mat-form-field"
    uid="task-form-search-property-promotion"
    [entities]="AUTOCOMPLETE_ENTITIES_PROPERTY_PROMOTION"
    [placeholder]="'autocomplete_property_promotion'|translate"
    (changeSelection)="onChangeSelectionPropertyPromotion($event)"
  ></app-shared-autocomplete>

  <mat-form-field *ngIf="isLoading === true || options.statusId.length > 0">
    <mat-select
      placeholder="{{ 'label_all_status'|translate }}"
      formControlName="statusId"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.statusId"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Responsive spacers, do not remove -->
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>


  <input type="hidden" formControlName="clientIds" />
  <input type="hidden" formControlName="brokerIds" />
  <input type="hidden" formControlName="propertyIds" />
  <input type="hidden" formControlName="promotionIds" />

</form>
