@import "../../../styles/variables";

.production-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.stepper-container {
  width: 30%;
  padding-right: 20px;
}

.table-container {
  width: 70%;
  overflow-x: scroll;
}

.placeholder-text {
  font-style: italic;
  color: $color-30;
}

.currency-label {
  color: $color-19;
  padding-left: 5px;
}

.rf__table-row--placeholder .rf__table-cell {
  min-width: 180px;
}

@media (min-width: 1100px) {

  .stepper-container {
    width: 20%;
  }

  .table-container {
    width: 80%;
  }
}

@media (min-width: 1450px) {

  .stepper-container {
    width: 15%;
  }

  .table-container {
    width: 85%;
  }
}
