<div class="rf__table">

  <app-process-table-header
    class="rf__table-row rf__table-row--header"
    matSort
    [matSortActive]="sort.id"
    [matSortDirection]="sort.order"
    matSortDisableClear="true"
    [isSelected]="isSelectedHeader"
    [isLoadingSelection]="selection.isLoading"
    [isDisabledSelection]="models === null"
    (matSortChange)="onChangeSort($event)"
    (changeSelection)="onChangeSelectionHeader($event)"
  ></app-process-table-header>

  <ng-container *ngIf="models !== null">

    <app-process-table-row
      class="rf__table-row"
      [class.rf__table-row--is-clickable]="isClickable === true"
      *ngFor="let process of models; trackBy: trackById;"
      [process]="process"
      [modelsSelectable]="modelsSelectable"
      [isSelected]="selection.ids.indexOf(process.id) > -1"
      [isLoading]="loadingModelIds.indexOf(process.id) > -1"
      (contextmenu)="onContextMenu($event, process)"
      (changeSelection)="onChangeSelectionModel($event, process)"
      (click)="onClickModel(process)"
    ></app-process-table-row>

  </ng-container>

  <ng-container *ngIf="models === null">

    <app-process-table-row
      class="rf__table-row rf__table-row--placeholder"
      *ngFor="let i of placeholderCount|forLoop"
      [isPlaceholder]="true"
      [isSelected]="selection.isSelectedAll === true"
    ></app-process-table-row>

  </ng-container>
</div>

<div
  *ngIf="models !== null && models.length === 0"
  class="rf__table-noresults"
>{{ 'label_no_results_found'|translate }}</div>
