<div class="rf__table-cell rf__email-template-cell--label">
  <div mat-sort-header="label">{{ 'title'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__email-template-cell--creator">
  <div mat-sort-header="creator_name">{{ 'label_creator'|translate }}</div>
</div>

<div class="rf__table-cell rf__table-cell--center rf__email-template-cell--shared">
  <div mat-sort-header="shared">{{ 'label_shared'|translate }}</div>
</div>

<div class="rf__table-cell rf__spacer"></div>
