@import "../../../../styles/variables";

.more-icon {
  border-radius: 50%;
  color: $color-24;
  width: 24px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  letter-spacing: -1px;
}

.more-icon--has-background {
  background-color: $color-24;
  color: $color-01;
}

.more-icon--has-margin-bottom {
  margin-bottom: 8px;
}
