<mat-progress-bar
  class="rf__opacity"
  [class.rf__opacity--visible]="isLoading === true"
  mode="indeterminate"
></mat-progress-bar>

<form [formGroup]="formGroup">

  <app-shared-autocomplete
    class="mat-form-field"
    uid="promotion-form-search-contact"
    [entities]="AUTOCOMPLETE_ENTITIES_PROMOTION_LOCATION"
    [placeholder]="'label_promotion_autosuggest_reference'|translate"
    [filterIsArchived]="model.isArchive01 === '1'"
    (changeSelection)="onChangeSelectionPromotionLocation($event)"
  ></app-shared-autocomplete>

  <app-shared-autocomplete
    class="mat-form-field"
    uid="promotion-form-search-property-contact"
    [entities]="AUTOCOMPLETE_ENTITIES_CONTACT"
    [placeholder]="'label_promotion_autosuggest_contact'|translate"
    (changeSelection)="onChangeSelectionContact($event)"
  ></app-shared-autocomplete>

  <mat-form-field *ngIf="isLoading === true || options.statusIds.length > 0">
    <mat-select
      multiple
      placeholder="{{ 'label_status'|translate }}"
      formControlName="statusIds"
    >
      <mat-option
        *ngFor="let option of options.statusIds"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.agencyId.length > 0">
    <mat-select
      placeholder="{{ 'label_agency'|translate }}"
      formControlName="agencyId"
    >
      <mat-option value="">{{ 'label_select_all'|translate }}</mat-option>
      <mat-option
        *ngFor="let option of options.agencyId"
        [value]="option.value"
        [class.mat-option--indent]="options.topLevelAgencyId.indexOf(option.value) === -1"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isLoading === true || options.customAttributeIds.length > 0">
    <mat-select
      placeholder="{{ 'label_custom_attribute'|translate }}"
      multiple
      formControlName="customAttributeIds"
    >
      <ng-container *ngFor="let optionGroup of options.customAttributeIds">

        <ng-container *ngIf="optionGroup.label === ''">
          <mat-option
            *ngFor="let option of optionGroup.options"
            [value]="option.value"
          >
            {{ option.text }}
          </mat-option>
        </ng-container>

        <ng-container *ngIf="optionGroup.label !== ''">
          <mat-optgroup
            label="{{ optionGroup.label|translate }}"
          >
            <mat-option
              *ngFor="let option of optionGroup.options"
              [value]="option.value"
            >
              {{ option.text }}
            </mat-option>
          </mat-optgroup>
        </ng-container>

      </ng-container>
    </mat-select>
  </mat-form-field>

  <!-- Responsive spacers, do not remove -->
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>
  <div class="mat-form-field"></div>

  <input type="hidden" formControlName="promotionIds" />
  <input type="hidden" formControlName="contactId" />

</form>
