@import "../../../styles/variables";

.rf__keyvalue-cell--contact {
  justify-content: flex-start;
}

.agency-name {
  line-height: 24px;
  padding: 0 10px;
}

.account-switch,
.rf__table-cell--account-switch-account {
  width: 100%;
}
